
.kz-flag {
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('flags.png');
}
.kz-flag.MD { background-position:    0px    0px; }
.kz-flag.GB { background-position:  -32px    0px; }
.kz-flag.SG { background-position:  -64px    0px; }
.kz-flag.RO { background-position:  -96px    0px; }
.kz-flag.MK { background-position: -128px    0px; }
.kz-flag.IN { background-position: -160px    0px; }
.kz-flag.AL { background-position: -192px    0px; }
.kz-flag.TW { background-position: -224px    0px; }
.kz-flag.CR { background-position: -256px    0px; }
.kz-flag.CA { background-position: -288px    0px; }
.kz-flag.PN { background-position: -320px    0px; }
.kz-flag.WS { background-position: -352px    0px; }
.kz-flag.SA { background-position: -384px    0px; }
.kz-flag.TR { background-position: -416px    0px; }
.kz-flag.CM { background-position: -448px    0px; }
.kz-flag.LU { background-position: -480px    0px; }
.kz-flag.no-flag { background-position:    0px  -32px; }
.kz-flag.ET { background-position:  -32px  -32px; }
.kz-flag.FO { background-position:  -64px  -32px; }
.kz-flag.NU { background-position:  -96px  -32px; }
.kz-flag.SN { background-position: -128px  -32px; }
.kz-flag.BT { background-position: -160px  -32px; }
.kz-flag.IL { background-position: -192px  -32px; }
.kz-flag.AS { background-position: -224px  -32px; }
.kz-flag.JE { background-position: -256px  -32px; }
.kz-flag.PE { background-position: -288px  -32px; }
.kz-flag.TJ { background-position: -320px  -32px; }
.kz-flag.CO { background-position: -352px  -32px; }
.kz-flag.BA { background-position: -384px  -32px; }
.kz-flag.AF { background-position: -416px  -32px; }
.kz-flag.EH { background-position: -448px  -32px; }
.kz-flag.NE { background-position: -480px  -32px; }
.kz-flag.SK { background-position:    0px  -64px; }
.kz-flag.GH { background-position:  -32px  -64px; }
.kz-flag.LT { background-position:  -64px  -64px; }
.kz-flag.FM { background-position:  -96px  -64px; }
.kz-flag.CI { background-position: -128px  -64px; }
.kz-flag.IE { background-position: -160px  -64px; }
.kz-flag.JP { background-position: -192px  -64px; }
.kz-flag.VI { background-position: -224px  -64px; }
.kz-flag.ZM { background-position: -256px  -64px; }
.kz-flag.TZ { background-position: -288px  -64px; }
.kz-flag.CZ { background-position: -320px  -64px; }
.kz-flag.GQ { background-position: -352px  -64px; }
.kz-flag.MR { background-position: -384px  -64px; }
.kz-flag.NG { background-position: -416px  -64px; }
.kz-flag.SL { background-position: -448px  -64px; }
.kz-flag.AU { background-position: -480px  -64px; }
.kz-flag.BW { background-position:    0px  -96px; }
.kz-flag.YE { background-position:  -32px  -96px; }
.kz-flag.PY { background-position:  -64px  -96px; }
.kz-flag.BR { background-position:  -96px  -96px; }
.kz-flag.KR { background-position: -128px  -96px; }
.kz-flag.UG { background-position: -160px  -96px; }
.kz-flag.VU { background-position: -192px  -96px; }
.kz-flag.BY { background-position: -224px  -96px; }
.kz-flag.LB { background-position: -256px  -96px; }
.kz-flag.SD { background-position: -288px  -96px; }
.kz-flag.MM { background-position: -320px  -96px; }
.kz-flag.HK { background-position: -352px  -96px; }
.kz-flag.NO { background-position: -384px  -96px; }
.kz-flag.ME { background-position: -416px  -96px; }
.kz-flag.MY { background-position: -448px  -96px; }
.kz-flag.NP { background-position: -480px  -96px; }
.kz-flag.GT { background-position:    0px -128px; }
.kz-flag.TO { background-position:  -32px -128px; }
.kz-flag.VA { background-position:  -64px -128px; }
.kz-flag.CY { background-position:  -96px -128px; }
.kz-flag.GU { background-position: -128px -128px; }
.kz-flag.BH { background-position: -160px -128px; }
.kz-flag.KW { background-position: -192px -128px; }
.kz-flag.LV { background-position: -224px -128px; }
.kz-flag.SV { background-position: -256px -128px; }
.kz-flag.CK { background-position: -288px -128px; }
.kz-flag.BF { background-position: -320px -128px; }
.kz-flag.IT { background-position: -352px -128px; }
.kz-flag.GA { background-position: -384px -128px; }
.kz-flag.GD { background-position: -416px -128px; }
.kz-flag.TP { background-position: -448px -128px; }
.kz-flag.BN { background-position: -480px -128px; }
.kz-flag.MG { background-position:    0px -160px; }
.kz-flag.VG { background-position:  -32px -160px; }
.kz-flag.VC { background-position:  -64px -160px; }
.kz-flag.RU { background-position:  -96px -160px; }
.kz-flag.CU { background-position: -128px -160px; }
.kz-flag.AG { background-position: -160px -160px; }
.kz-flag.KN { background-position: -192px -160px; }
.kz-flag.KH { background-position: -224px -160px; }
.kz-flag.AE { background-position: -256px -160px; }
.kz-flag.KY { background-position: -288px -160px; }
.kz-flag.LC { background-position: -320px -160px; }
.kz-flag.LY { background-position: -352px -160px; }
.kz-flag.KP { background-position: -384px -160px; }
.kz-flag.LS { background-position: -416px -160px; }
.kz-flag.LR { background-position: -448px -160px; }
.kz-flag.BI { background-position: -480px -160px; }
.kz-flag.PW { background-position:    0px -192px; }
.kz-flag.BS { background-position:  -32px -192px; }
.kz-flag.MT { background-position:  -64px -192px; }
.kz-flag.LK { background-position:  -96px -192px; }
.kz-flag.AX { background-position: -128px -192px; }
.kz-flag.GL { background-position: -160px -192px; }
.kz-flag.SO { background-position: -192px -192px; }
.kz-flag.NL { background-position: -224px -192px; }
.kz-flag.SI { background-position: -256px -192px; }
.kz-flag.AM { background-position: -288px -192px; }
.kz-flag.BM { background-position: -320px -192px; }
.kz-flag.BB { background-position: -352px -192px; }
.kz-flag.VN { background-position: -384px -192px; }
.kz-flag.PA { background-position: -416px -192px; }
.kz-flag.DE { background-position: -448px -192px; }
.kz-flag.MO { background-position: -480px -192px; }
.kz-flag.DK { background-position:    0px -224px; }
.kz-flag.PT { background-position:  -32px -224px; }
.kz-flag.SR { background-position:  -64px -224px; }
.kz-flag.DO { background-position:  -96px -224px; }
.kz-flag.TT { background-position: -128px -224px; }
.kz-flag.EE { background-position: -160px -224px; }
.kz-flag.PS { background-position: -192px -224px; }
.kz-flag.NF { background-position: -224px -224px; }
.kz-flag.PH { background-position: -256px -224px; }
.kz-flag.IR { background-position: -288px -224px; }
.kz-flag.AR { background-position: -320px -224px; }
.kz-flag.PK { background-position: -352px -224px; }
.kz-flag.PG { background-position: -384px -224px; }
.kz-flag.JM { background-position: -416px -224px; }
.kz-flag.CH { background-position: -448px -224px; }
.kz-flag.SY { background-position: -480px -224px; }
.kz-flag.TH { background-position:    0px -256px; }
.kz-flag.CG { background-position:  -32px -256px; }
.kz-flag.KI { background-position:  -64px -256px; }
.kz-flag.ES { background-position:  -96px -256px; }
.kz-flag.GG { background-position: -128px -256px; }
.kz-flag.SM { background-position: -160px -256px; }
.kz-flag.CX { background-position: -192px -256px; }
.kz-flag.DJ { background-position: -224px -256px; }
.kz-flag.AQ { background-position: -256px -256px; }
.kz-flag.FK { background-position: -288px -256px; }
.kz-flag.BJ { background-position: -320px -256px; }
.kz-flag.UY { background-position: -352px -256px; }
.kz-flag.GE { background-position: -384px -256px; }
.kz-flag.TD { background-position: -416px -256px; }
.kz-flag.CL { background-position: -448px -256px; }
.kz-flag.QA { background-position: -480px -256px; }
.kz-flag.GM { background-position:    0px -288px; }
.kz-flag.AO { background-position:  -32px -288px; }
.kz-flag.SB { background-position:  -64px -288px; }
.kz-flag.ZW { background-position:  -96px -288px; }
.kz-flag.KG { background-position: -128px -288px; }
.kz-flag.NR { background-position: -160px -288px; }
.kz-flag.ST { background-position: -192px -288px; }
.kz-flag.NA { background-position: -224px -288px; }
.kz-flag.HN { background-position: -256px -288px; }
.kz-flag.PR { background-position: -288px -288px; }
.kz-flag.NI { background-position: -320px -288px; }
.kz-flag.PL { background-position: -352px -288px; }
.kz-flag.NZ { background-position: -384px -288px; }
.kz-flag.UA { background-position: -416px -288px; }
.kz-flag.MP { background-position: -448px -288px; }
.kz-flag.MH { background-position: -480px -288px; }
.kz-flag.GR { background-position:    0px -320px; }
.kz-flag.MW { background-position:  -32px -320px; }
.kz-flag.EU { background-position:  -64px -320px; }
.kz-flag.KV { background-position:  -96px -320px; }
.kz-flag.TN { background-position: -128px -320px; }
.kz-flag.MV { background-position: -160px -320px; }
.kz-flag.DZ { background-position: -192px -320px; }
.kz-flag.BZ { background-position: -224px -320px; }
.kz-flag.JO { background-position: -256px -320px; }
.kz-flag.GS { background-position: -288px -320px; }
.kz-flag.CC { background-position: -320px -320px; }
.kz-flag.NC { background-position: -352px -320px; }
.kz-flag.MC { background-position: -384px -320px; }
.kz-flag.GI { background-position: -416px -320px; }
.kz-flag.SS { background-position: -448px -320px; }
.kz-flag.HT { background-position: -480px -320px; }
.kz-flag.RW { background-position:    0px -352px; }
.kz-flag.US { background-position:  -32px -352px; }
.kz-flag.AT { background-position:  -64px -352px; }
.kz-flag.GN { background-position:  -96px -352px; }
.kz-flag.MA { background-position: -128px -352px; }
.kz-flag.FJ { background-position: -160px -352px; }
.kz-flag.YT { background-position: -192px -352px; }
.kz-flag.MZ { background-position: -224px -352px; }
.kz-flag.BL { background-position: -256px -352px; }
.kz-flag.TV { background-position: -288px -352px; }
.kz-flag.HU { background-position: -320px -352px; }
.kz-flag.EC { background-position: -352px -352px; }
.kz-flag.MS { background-position: -384px -352px; }
.kz-flag.KZ { background-position: -416px -352px; }
.kz-flag.BD { background-position: -448px -352px; }
.kz-flag.ML { background-position: -480px -352px; }
.kz-flag.FR { background-position:    0px -384px; }
.kz-flag.CD { background-position:  -32px -384px; }
.kz-flag.AW { background-position:  -64px -384px; }
.kz-flag.HR { background-position:  -96px -384px; }
.kz-flag.SH { background-position: -128px -384px; }
.kz-flag.MX { background-position: -160px -384px; }
.kz-flag.TM { background-position: -192px -384px; }
.kz-flag.CN { background-position: -224px -384px; }
.kz-flag.BG { background-position: -256px -384px; }
.kz-flag.CV { background-position: -288px -384px; }
.kz-flag.MU { background-position: -320px -384px; }
.kz-flag.LA { background-position: -352px -384px; }
.kz-flag.BO { background-position: -384px -384px; }
.kz-flag.UZ { background-position: -416px -384px; }
.kz-flag.LI { background-position: -448px -384px; }
.kz-flag.KM { background-position: -480px -384px; }
.kz-flag.VE { background-position:    0px -416px; }
.kz-flag.ID { background-position:  -32px -416px; }
.kz-flag.GY { background-position:  -64px -416px; }
.kz-flag.EG { background-position:  -96px -416px; }
.kz-flag.ZA { background-position: -128px -416px; }
.kz-flag.DM { background-position: -160px -416px; }
.kz-flag.KE { background-position: -192px -416px; }
.kz-flag.FI { background-position: -224px -416px; }
.kz-flag.SZ { background-position: -256px -416px; }
.kz-flag.IS { background-position: -288px -416px; }
.kz-flag.TC { background-position: -320px -416px; }
.kz-flag.AD { background-position: -352px -416px; }
.kz-flag.MN { background-position: -384px -416px; }
.kz-flag.IM { background-position: -416px -416px; }
.kz-flag.AI { background-position: -448px -416px; }
.kz-flag.ER { background-position: -480px -416px; }
.kz-flag.AZ { background-position:    0px -448px; }
.kz-flag.BE { background-position:  -32px -448px; }
.kz-flag.OM { background-position:  -64px -448px; }
.kz-flag.SC { background-position:  -96px -448px; }
.kz-flag.AN { background-position: -128px -448px; }
.kz-flag.GW { background-position: -160px -448px; }
.kz-flag.IQ { background-position: -192px -448px; }
.kz-flag.CF { background-position: -224px -448px; }
.kz-flag.TG { background-position: -256px -448px; }
.kz-flag.RS { background-position: -288px -448px; }
.kz-flag.SE { background-position: -320px -448px; }
